@import "tailwindcss";

:root {
  --blue-100: #1f83c1;
  --dark-blue-100: #153b7a;
  --dark-blue-200: #1d3978;

  --gray-300: #646361;
  --gray-500: #51514f;
}

body {
  font-family: var(--font-open-sans);
  font-weight: 400;
  font-style: normal;
  color: var(--gray-300);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 700;
  color: #000;
}

h1 {
  font-size: 2em;
}
h2 {
  font-size: 1.75em;
}
h3 {
  font-size: 1.5em;
}
h4 {
  font-size: 1.25em;
}
h5 {
  font-size: 0.75em;
}
h5 {
  font-size: 0.25em;
}
